<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syl.tb.manage.mapper.ContentMapper">
  <resultMap id="BaseResultMap" type="com.syl.tb.manage.pojo.Content">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="category_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sub_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="title_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pic2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.syl.tb.manage.pojo.Content">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="category_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sub_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="title_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pic2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="content" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, category_id, title, sub_title, title_desc, url, pic, pic2, created, updated
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="queryContentList" resultType="com.syl.tb.manage.pojo.Content">
    SELECT
      *
    FROM tb_content
    WHERE category_id = #{id}
    ORDER BY updated DESC
  </select>
</mapper>